asgiref 
attrs 
awsebcli 
Babel 
bcrypt 
blessed 
botocore 
cached-property 
cart 
cement 
certifi 
cffi 
chardet 
colorama 
cryptography 
cycler 
Django 
django-admin-sortable2 
django-angular 
django-appconf 
django-bootstrap3 
django-cart 
django-classy-tags 
django-cms 
django-cors-headers 
django-cors-middleware 
django-crispy-forms 
django-csvimport 
django-datetime-widget 
django-easy-maps 
django-entangled 
django-filer 
django-filter 
django-formtools 
django-fsm 
django-fsm-admin 
django-instagram 
django-ipware 
django-jet 
django-js-asset 
django-map-widgets 
django-mathfilters 
django-mptt 
django-oauth-toolkit 
django-paypal 
django-pickling 
django-polymorphic 
django-post-office 
django-rest-auth 
django-searchable-select 
django-sekizai 
django-select2 
django-shop 
django-shopify-auth 
django-shopping-cart 
django-treebeard 
django-vote 
django-widget-tweaks 
djangocms-admin-style 
djangocms-cascade 
djangocms-text-ckeditor 
djangorestframework 
djangorestframework-gis 
docker 
docker-compose 
dockerpty 
docopt 
docutils 
drfdocs @ git+https://github.com/mago960806/django-rest-framework-docs.git@7f8dbff17ebc5cdaa6c1741ee62f982cf9eed9b1
easy-thumbnails 
emoji 
FinQuant 
FundamentalAnalysis 
future 
geographiclib 
geopy 
html5lib 
idna 
importlib-metadata 
inflection 
iniconfig 
jmespath 
joblib 
json-table-schema 
jsonfield 
jsonschema 
kiwisolver 
lightgbm 
lxml 
Markdown 
matplotlib 
messytables 
more-itertools 
multitasking 
numpy 
oauthlib 
packaging 
pandas 
paramiko 
pathspec 
paynow 
Pillow 
pluggy 
psycopg2-binary 
py 
pyactiveresource 
pycparser 
pycryptodome 
PyJWT 
PyNaCl 
pyparsing 
pyrsistent 
pytest 
python-dateutil 
python-dotenv 
python-http-client 
python-magic 
pytz 
PyYAML 
Quandl 
requests 
scikit-learn 
scipy 
seaborn 
semantic-version 
sendgrid 
ShopifyAPI 
simplejson 
six 
sorl-thumbnail 
sqlparse 
starkbank-ecdsa 
stripe 
termcolor 
texttable 
threadpoolctl 
toml 
twilio 
Unidecode 
urllib3 
wcwidth 
webencodings 
websocket-client 
xlrd 
yfinance 
zipp 
