<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i
                    class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'companies:index' %}"><i class="icon-display4 position-left"></i> Home</a></li>
            <li class="mega-menu mega-menu-wide">
                <a href="{% url 'companies:application_analytics' %}" class="navbar-nav-link">
                    <i class="icon-make-group mr-2"></i>
                    Application Scoring Predictions
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="{% url 'companies:application_analytics' %}" class="navbar-nav-link">
                    <i class="icon-strategy mr-2"></i>
                    Behavioral Scoring Predictions
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="{% url 'companies:application_analytics' %}" class="navbar-nav-link">
                    <i class="icon-alignment-unalign mr-2"></i>
                    Retention Scoring Predictions
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="{% url 'companies:application_analytics' %}" class="navbar-nav-link">
                    <i class="icon-file-text2 mr-2"></i>
                    Reports
                </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a href="{% url 'companies:income_classifier' %}" class="navbar-nav-link">
                    <i class="icon-file-text2 mr-2"></i>
                    income_classifier_prediction
                </a>
            </li> -->
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                        <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                        <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                    </ul>
                </li>
            </ul>
    </div>
</div>
<!-- /second navbar -->