{% load static %}
<div style="width: 200px; margin-top: 20%;" id="chartjs1">
    Chart Data {{ webdata.1.grade_a.1 }}
    <canvas id="c3-line-chart" width="200px" height="200px"></canvas>
</div>
<!-- Core JS files -->
<script src="{% static 'assets/js/chart.bundle.js' %}"></script>
<script>
    var chart = c3.generate({
        bindto: '#c3-line-chart',
        data: {
            columns: [
                ['data1', 30, 200, 100, 400, 150, 250],
                ['data2', 50, 20, 10, 40, 15, 25]
            ]
        }
    });
</script>