{% load static %}

<!-- Individual column searching (selects) -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Behavioral predictions</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        {% include 'dashboards/filters.html' %}
    </div>

    <table class="table table-sm" id="list_data" data-toggle="table" url="{% url 'companies:app_clasf_view' %}">
        <thead>
            <tr>
                <th>Loan ID</th>

                <th>Client</th>
                <!-- <th>Amount Borrowed</th> -->
                <th>First Instalment</th>
                <th>Final Instalment</th>
                <th>Total Instalment</th>
                <th>Defaulting Probability</th>
                <th>Default Risk</th>
                <th>Time to default</th>
                <th>Contact Channel</th>
                <th>Contact Schedule</th>
                <th>Message</th>
                <th><i class="icon-arrow-down12"></i></th>


            </tr>
        </thead>
        <tbody id="behaviora_listing">
        </tbody>
    </table>
</div>
<!-- /individual column searching (selects) -->
<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/chart.bundle.js' %}"></script>
<script src="{% static 'account/assets/js/filters.js' %}"></script>