{% load static %}
<div id="container" style="width: 75%;">
    <canvas id="population-chart" data-url="{% url 'business:data_aggretation' %}"></canvas>
</div>
<!-- Core JS files -->

<script src="{% static 'account/global_assets/js/main/jquery.min.js' %}"></script>
<script src="{% static 'account/assets/js/chart.bundle.js' %}"></script>
<script>
    $(function () {

        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Population',
                            backgroundColor: 'blue',
                            data: data.data
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Population Bar Chart'
                        }
                    }
                });

            }
        });

    });
</script>