{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% include 'dashboards/global/page.header.html' %}
<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content">
        <div class="row">
          <div class="col-xl-8">

            {% include 'dashboards/landing/qk_stats.html' %}
            {% include 'dashboards/landing/kpi_summary.html' %}
          </div>
          <div class="col-xl-4">


          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}